@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 32px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 48px;
  --swiper-navigation-color: #3b4359;
}
